global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ["${PROMETHEUS_TARGET}"]

  - job_name: 'grafana'
    static_configs:
      - targets: ['grafana:3000']
